.main-header{transition:margin-left .3s ease-in-out;padding:20px 30px;min-height:104px;background-color:#F6F6F4;}
.dash-txt{font-size:26px;font-weight:600;color:#000;}
.header-left-text{position:relative;}
.ha-dropdown-click{border:2px solid #ECECEC;border-radius:40px;padding:4px 8px 4px 4px;display:inline-block;padding-right:35px;background-color: #fff;}
.ha-dropdown-click .user-menu{display:flex;align-items:center;}
.ha-dropdown-click .user-menu img{width:52px;height:52px;border-radius:100%;object-fit:cover;object-position:center;}
.ha-dropdown-click .user-menu .h-admin-info{width:calc(100% - 52px);display:flex;flex-direction:column;min-width:150px;padding-left:10px;}
.ha-dropdown-click .user-menu .h-admin-info span{font-size:14px;color:#000;display:inline-block;width:100%;font-weight:500;}
.ha-dropdown-click.dropdown-toggle::after{font-size:19px;position:absolute;right:15px;top:0px;bottom:0px;margin-top:auto;margin-bottom:auto;height:10px;margin-left:0px;color:#000;vertical-align:middle;content:"\f107";border:none;font-family:FontAwesome;line-height:11px;transition:all 400ms ease;}
.ha-dropdown-click.dropdown-toggle[aria-expanded="true"]::after{transform:rotate(180deg);}
.ha-dropdown-click .user-menu .h-admin-info span:last-child{color:#797979;font-weight:400;margin-top:3px;}
.ha-dropdown-main ul.dropdown-menu{width:100%;margin-top:6px;box-shadow:6px 10px 30px 0px rgba(0,0,0,0.08);border:2px solid #ECECEC;border-radius:14px;padding:0;}
.ad-dropdown-main ul.dropdown-menu{padding:8px 0px;}
.ad-dropdown-main ul.dropdown-menu li .dropdown-item{padding:6px 12px;display:flex;align-items:center;font-size:16px;border-radius: 0px;}
.ad-dropdown-main ul.dropdown-menu li .dropdown-item span.icon{display:flex;width:18px;height:18px;align-items:center;flex:0 0 auto;margin-right:10px;}


.h-notification-main .h-notification-click{width:60px;height:60px;padding:5px;text-align:center;display:flex;align-items:center;justify-content:center;margin-right:10px;position:relative;border-radius:50%;background-color: #fff;}


.main-header-right{align-items:center;}


.headera-logo-wrap{width:300px;margin-right:30px;position: relative;}


.headera-logo{display:inline-block;width:210px;}
.headera-logo img{width:100%;height:100%;object-fit:contain;}


.headera-mlogo{display:none;}
.sidebar-toggle-mob{display:none;}
.offcanvas-mob{display:none;}
.offcanvas-desk{display:block;}
.dash-txt-desk{display:block;}
.dash-txt-mob{display:none;}


.sidebar-toggle{width:30px;height:30px;background:#D74315;font-size:18px;color:#fff;border-radius:100%;line-height:30px;position:absolute;text-align:center;}
.sidebar-toggle-desk{right:0px;bottom:5px;}
.sidebar-toggle i{color:#fff;}


.sidebar-show-hide-bck{transition:background-color .3s ease-in-out;}


@media(max-width:1799px) {


.headera-logo-wrap{width:250px;margin-right:20px;}
.sidebar-top-toggle .sidebar-toggle-desk{width:25px;height:25px;line-height:25px;}
.sidebar-toggle-desk{bottom:7px;}


}



@media(max-width:1599px) {

.main-header{padding:15px 25px;min-height: 87px;}
.headera-logo{width:190px;}
.dash-txt{font-size:24px;}
.h-notification-main .h-notification-click{width:50px;height:50px;}
.h-notification-main .h-notification-click img{width:25px;height:25px;}
.ha-dropdown-click .user-menu img{width:45px;height:45px;}
.ha-dropdown-click .user-menu .h-admin-info{width:calc(100% - 45px);padding-left:5px;min-width:140px;}




.ad-dropdown-main ul.dropdown-menu li .dropdown-item{padding:4px 10px;font-size:14px;}
.ad-dropdown-main ul.dropdown-menu li .dropdown-item span.icon{margin-right:5px;}
.ha-dropdown-click .user-menu .h-admin-info span{font-size:13px;}
.ha-dropdown-click .user-menu .h-admin-info span{font-size:12px;}

}



@media(max-width:1499px) {

.dash-txt{font-size:22px;}
.main-header{padding:15px 20px;min-height: 82px;}
.headera-logo{width:170px;}
.headera-logo-wrap{width:230px;margin-right:20px;}
.h-notification-main .h-notification-click{width:45px;height:45px;}
.offcanvas-btn.btn{padding:10px 18px;}
.ha-dropdown-click .user-menu img{width:40px;height:40px;}
.ha-dropdown-click .user-menu .h-admin-info span:last-child{margin-top:0px;}
.ha-dropdown-click .user-menu .h-admin-info{width:calc(100% - 40px);}


}


@media(max-width:1399px) {

.headera-logo-wrap{width:210px;margin-right:15px;}
.headera-logo{width:160px;}
.main-header{padding:15px 15px;}
.dash-txt{font-size:20px;}

}



@media(max-width:1299px) {

.headera-logo{width:140px;}
.sidebar-top-toggle .sidebar-toggle-desk{bottom:-2px;}
.offcanvas-btn.btn{padding:9px 16px;}
.dash-txt{font-size:18px;}

}


@media(max-width:1199px) {

.offcanvas-btn.btn{padding:8px 14px;}
.dash-txt{font-size:16px;}
.headera-logo-wrap{width:180px;}
.headera-logo {
    width: 120px;
}

}

@media(max-width:991px) {

.ha-dropdown-click .user-menu .h-admin-info{display:none;}
.offcanvas-btn.btn{padding:7px 12px;}


}


@media(max-width:767px) {

.main-header{padding:15px 10px;}

.sidebar-top-toggle .sidebar-toggle-desk{display:none;}
.h-notification-main .h-notification-click img{width:20px;height:20px;}


.ha-dropdown-click{padding-right:25px;}
.ha-dropdown-click.dropdown-toggle::after{right:9px;}

.headera-logo{/*display:none;*/width:120px;}
.headera-mlogo{/*display:block;*/}
.headera-logo-wrap{/*width:65px;*/width: 120px;margin-right: 10px;}
.headera-mlogo img{width:35px;}
.sidebar-toggle-mob{/*display:block;right:-35px;bottom:-2px;width:25px;height:25px;font-size:16px;line-height:26px;*/}
.sidebar-toggle-mob{display:block;width:25px;height:25px;font-size:16px;line-height:28px;position:fixed;top:28px;left:140px;z-index:999;}
.dash-txt-desk{display:none;}
.dash-txt-mob{display:block;padding-right:10px;margin:5px 0px;}
.dashboard-tl-mob .offcanvas-btn.btn{margin:5px 0px;}
.offcanvas-mob{display:block;}
.offcanvas-desk{display:none;}

.dashboard-tl-mob{display:flex;align-items:center;flex-wrap:wrap;justify-content:space-between;margin-bottom:10px;}


}

