
.main-sidebar{bottom:0;float:none;left:0;position:fixed;top:0;transition:margin-left .3s ease-in-out,width .3s ease-in-out;width:300px;margin-left:30px;margin-top:104px;}
.sidebar.sidebar-menu-main{padding:15px;height:calc(100vh - (104px + 20px));overflow-x:hidden;overflow-y:auto;scrollbar-color:#D74315 transparent;scrollbar-width:thin;border-radius:20px;border:1px solid #ECECEC;background-color:#fff;}
.sidebar.sidebar-menu-main{display:flex;flex-direction:column;justify-content:space-between;}







.main-sidebar li.sb-nav-item{margin-bottom: 15px;}
.main-sidebar .sb-nav-item .sb-nav-link{display:flex;align-items:center;padding: 15px 20px;width:100%;border-radius: 10px;color:#ffffff;}
.main-sidebar .sb-nav-item .sb-nav-link .sb-nav-icon{width: 24px;height: 24px;object-fit:contain;}
.main-sidebar .sb-nav-item .sb-nav-link p{width: calc(100% - 24px);padding-left: 10px;color: #797979;margin-bottom:0px;font-size: 16px;padding-top: 1px;}
.main-sidebar li.sb-nav-item .sb-nav-link:hover{background: #D74315;}
.main-sidebar li.sb-nav-item .sb-nav-link:hover p{color: #fff;}
.main-sidebar li.sb-nav-item .sb-nav-link:hover img{filter: brightness(0) invert(1);}
.main-sidebar li.sb-nav-item.active .sb-nav-link{background: #D74315;}
.main-sidebar li.sb-nav-item.active .sb-nav-link p{color: #fff;font-weight:600;}
.main-sidebar li.sb-nav-item.active .sb-nav-link img{filter: brightness(0) invert(1);}


.sidebar-show-hide .main-sidebar{width:84px;}
.main-sidebar li.sb-nav-item .sb-nav-link p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;flex-grow:1;    /* transition: color 0.3s; */}
.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link p{padding-left:0px;visibility:hidden;opacity:0;position:absolute;}
.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link{padding:15px 15px;justify-content: center;}
.sidebar-show-hide .main-header nav.main-header{margin-left:100px;}
.sidebar-show-hide .sidebar-toggle i {transform: rotate(180deg); }



@media(max-width:1799px) {


.sidebar-show-hide .main-sidebar{width:64px;}
.sidebar-show-hide .sidebar-menu-main{padding:10px;}
.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link{padding:10px;}
.main-sidebar .sb-nav-item .sb-nav-link{padding:10px;}
.main-sidebar li.sb-nav-item{margin-bottom:10px;}
.main-sidebar .sb-nav-item .sb-nav-link p{padding-left:5px;font-size:14px;}
.sidebar.sidebar-menu-main{height:calc(100vh - (87px + 20px));padding: 10px;}
.main-sidebar{margin-top:104px;margin-left:20px;width:250px;}


}




@media(max-width:1599px) {

.main-sidebar{margin-top:87px;margin-left:20px;width:250px;}

}



@media(max-width:1499px) {

.main-sidebar{width:230px;margin-top: 82px;}
.sidebar.sidebar-menu-main{height:calc(100vh - (82px + 20px));}

}

@media(max-width:1399px) {

.main-sidebar{width:210px;margin-left: 15px;}

}


@media(max-width:1199px) {


.main-sidebar{width:180px;}
.content-wrapper{margin-left:calc(180px + 15px);}
.main-sidebar .sb-nav-item .sb-nav-link{padding:8px;}
.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link{padding:8px;}
.main-sidebar .sb-nav-item .sb-nav-link p{font-size:12px;}

}


@media(max-width:991px) {



}



@media(max-width:767px) {


.main-sidebar{width:45px;z-index:1030;margin-left:5px;}
.sidebar.sidebar-menu-main{padding:6px;border-radius:8px;}
.main-sidebar .sb-nav-item .sb-nav-link{padding:5px 6px;justify-content:center;border-radius: 6px;}
.main-sidebar li.sb-nav-item .sb-nav-link p{display:none;}
.content-wrapper{margin-left:calc(45px + 5px);padding-left:10px;padding-right:10px;}
.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link{padding:5px 6px;}
.sidebar-show-hide .main-sidebar{width:200px;z-index: 9999;}
.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link p{padding-left:5px;visibility:visible;opacity:1;position:relative;display:block;}
.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link{justify-content:flex-start;}

.sidebar-show-hide .sidebar-show-hide-bck{background-color:rgba(0,0,0,0.8);left:0;right:0;top:0;bottom:0;position:fixed;z-index:999;}


}









